html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-color: black;
    background-image: url('https://ak.picdn.net/shutterstock/videos/1011355004/thumb/1.jpg');
    background-size: cover; 
    background-repeat: space;
  }
  
  h1, h2, #top-left, #btm-left {
    font-family: 'Press Start 2P', monospace;
    color: rgb(206, 136, 45);
  }
  
  canvas {
    background-image: url('https://media.istockphoto.com/videos/old-retro-video-game-arcade-clouds-moving-on-a-blue-sky-video-id532530708?s=640x640');
    background-repeat: repeat;
    width: 100%;
    height: 525px;
  }   

  #container {
  max-width: 50em;
  /* max-height: 950px; */
  background-color: green;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: .25fr .5fr .25fr;   
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: "top-left game top-right"
                        "left game right"
                        "btm-left game btm-right";
  }
  
  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
  }
  
  #top-left {
    grid-area: top-left;
  }
  
  #top-right {
    grid-area: top-right;
  }
  /* .reset {
    
  } */

  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;
  }
  
  #btm-right {
    grid-area: btm-right;
  }

  #krabby{
      display: none;
      /* height: 50px;
      width: 50px; */
  }
  #drop{
    display: none;
  }

  #broccoli{
    display: none;
  }
  #lose{
    size: 50px;
    display: none;
  }
  #status {
    cursor: pointer;
  }
  #status:hover {
    color: white;
  }
  #right {
    font-size: 10px;
    font-weight: bolder;
  }
  #left{
    font-size: 12px;
  }

